# everything here is not tracked by git and not uploaded to github

# ignore everything in this folder; everyone is going to generate his own enviroments from the requirements.txt
venv/ 

# ignore every file with this file ending (these are compiled python files)
*.pyc
